{% extends 'base.html' %}
{% load static %}
{% load petback_extras %}
{% block content %}
    <div class="breadcrumb-area pt-95 pb-95 bg-img"
         style="background-image:url({% static 'assets/img/banner/banner-2.jpg' %});">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>宠物找回</h2>
                <ul>
                    <li><a href="{% url 'index' %}">首页</a></li>
                    <li class="active">宠物找回</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="shop-area pt-100 pb-100">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-md-8">
                    <div class="row">
                        {% for lostpet in lost_pet_list %}
                            <div class="col-lg-6 col-md-12">
                                <div class="blog-wrapper mb-30 gray-bg">
                                    <div class="blog-img hover-effect">
                                        <a href="{{ lostpet.get_absolute_url }}">
                                            <img src="/media/{{ lostpet.pet_img }}" alt=""></a>
                                    </div>
                                    <div class="blog-content">
                                        <div class="blog-meta">
                                            <ul>
                                                <li><span>{{ lostpet.name }}</span></li>
                                                <li>{{ lostpet.created_time }}</li>
                                                <li>{{ lostpet.views }} 阅读</li>
                                            </ul>
                                        </div>
                                        <h4><a href="{{ lostpet.get_absolute_url }}">简介:{{ lostpet.intro }}</a>
                                        </h4>
                                        <h4>联系方式:{{ lostpet.contact_way }}</h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if is_paginated %}
                            {{ page_obj.render }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="shop-sidebar blog-mrg">
                        <div class="shop-widget">
                            <h4 class="shop-sidebar-title">搜索宠物</h4>
                            <div class="shop-search mt-25 mb-50">
                                <form role="search" class="shop-search-form" method="get"
                                      action="{% url 'petback:search' %}">
                                    <input type="search" name="q" placeholder="搜索" required>
                                    <button type="submit">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% show_categories %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}



