{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumb-area pt-95 pb-95 bg-img"
         style="background-image:url({% static 'assets/img/banner/banner-2.jpg' %});">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>宠物商城</h2>
                <ul>
                    <li><a href="{% url 'index' %}">首页</a></li>
                    <li class="active">宠物商城</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area pt-100 pb-100 gray-bg">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">

                    <div class="shop-topbar-wrapper">
                        <div class="product-sorting-wrapper">
                            <div class="product-show shorting-style">
                                <label>Showing <span>1-20</span> of <span>100</span> Results</label>
                                <select>
                                    <option value="">12</option>
                                    <option value="">24</option>
                                    <option value="">36</option>
                                </select>
                            </div>
                        </div>
                        <div class="grid-list-options">
                            <ul class="view-mode">
                                <li class="active"><a href="#product-grid" data-view="product-grid"><i
                                        class="ti-layout-grid4-alt"></i></a></li>
                                <li><a href="#product-list" data-view="product-list"><i
                                        class="ti-align-justify"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="grid-list-product-wrapper">
                        <div class="product-view product-grid">
                            <div class="row">
                                {% for product in product_list %}
                                    <div class="product-width col-lg-6 col-xl-4 col-md-6 col-sm-6">
                                        <div class="product-wrapper mb-10">
                                            <div class="product-img">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="/media/{{ product.goods_front_image }}" alt="">
                                                </a>
                                                <div class="product-action">
                                                    <a title="预览" data-toggle="modal" data-target="#exampleModal"
                                                       href="#">
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                    <a title="添加到购物车" href="#">
                                                        <i class="ti-shopping-cart"></i>
                                                    </a>
                                                </div>
                                                <div class="product-action-wishlist">
                                                    <a title="收藏" href="#">
                                                        <i class="ti-heart"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="product-content">
                                                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                                <div class="product-price">
                                                    <span class="new">￥{{ product.shop_price }} </span>
                                                    {% if product.market_price %}
                                                        <span class="old">￥{{ product.market_price }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="product-list-content">
                                                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                                                <div class="product-price">
                                                    <span class="new">￥{{ product.shop_price }} </span>
                                                    {% if product.market_price %}
                                                        <span class="old">￥{{ product.market_price }}</span>
                                                    {% endif %}
                                                </div>
                                                <p>{{ product.goods_brief }}</p>
                                                <div class="product-list-action">
                                                    <div class="product-list-action-left">
                                                        <a class="addtocart-btn" title="添加到购物车" href="#"><i
                                                                class="ion-bag"></i> 添加到购物车</a>
                                                    </div>
                                                    <div class="product-list-action-right">
                                                        <a title="收藏" href="#"><i class="ti-heart"></i></a>
                                                        <a title="预览" data-toggle="modal" data-target="#exampleModal"
                                                           href="#"><i class="ti-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            {% if is_paginated %}
                                {{ page_obj.render }}
                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="shop-sidebar">

                        <div class="shop-widget">
                            <h4 class="shop-sidebar-title">搜索商品</h4>
                            <div class="shop-search mt-25 mb-50">
                                <form class="shop-search-form">
                                    <input type="text" placeholder="搜索商品">
                                    <button type="submit">
                                        <i class="icon-magnifier"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="shop-widget">
                            <h4 class="shop-sidebar-title">价格过滤</h4>
                            <div class="price_filter mt-25">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <label>价格 : </label>
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                                    </div>
                                    <button type="button">过滤</button>
                                </div>
                            </div>
                        </div>

                        <div class="shop-widget mt-50">
                            <h4 class="shop-sidebar-title">食物类别 </h4>
                            <div class="shop-list-style mt-20">
                                <ul>
                                    <li><a href="#">Canned Food</a></li>
                                    <li><a href="#">Dry Food</a></li>
                                    <li><a href="#">Food Pouches</a></li>
                                    <li><a href="#">Food Toppers</a></li>
                                    <li><a href="#">Fresh Food</a></li>
                                    <li><a href="#">Frozen Food</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="shop-widget mt-50">
                            <h4 class="shop-sidebar-title">Top Brands </h4>
                            <div class="shop-list-style mt-20">
                                <ul>
                                    <li><a href="#">Authority</a></li>
                                    <li><a href="#">AvoDerm Natural</a></li>
                                    <li><a href="#">Bil-Jac</a></li>
                                    <li><a href="#">Blue Buffalo</a></li>
                                    <li><a href="#">Castor & Pollux</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="shop-widget mt-50">
                            <h4 class="shop-sidebar-title">Health Consideration </h4>
                            <div class="shop-list-style mt-20">
                                <ul>
                                    <li><a href="#">Bone Development <span>18</span></a></li>
                                    <li><a href="#">Digestive Care <span>22</span></a></li>
                                    <li><a href="#">General Health <span>19</span></a></li>
                                    <li><a href="#">Hip & Joint <span>41</span></a></li>
                                    <li><a href="#">Immune System <span>22</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="shop-widget mt-50">
                            <h4 class="shop-sidebar-title">Nutritional Option </h4>
                            <div class="shop-list-style mt-20">
                                <ul>
                                    <li><a href="#">Grain Free <span>18</span></a></li>
                                    <li><a href="#">Natural <span>22</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="ti-close" aria-hidden="true"></span>
        </button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="qwick-view-left">
                        <div class="quick-view-learg-img">
                            <div class="quick-view-tab-content tab-content">
                                <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                    <img src="{% static 'assets/img/quick-view/l1.jpg' %}" alt="">
                                </div>
                                <div class="tab-pane fade" id="modal2" role="tabpanel">
                                    <img src="{% static 'assets/img/quick-view/l2.jpg' %}" alt="">
                                </div>
                                <div class="tab-pane fade" id="modal3" role="tabpanel">
                                    <img src="{% static 'assets/img/quick-view/l3.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="quick-view-list nav" role="tablist">
                            <a class="active" href="#modal1" data-toggle="tab" role="tab">
                                <img src="{% static 'assets/img/quick-view/s1.jpg' %}" alt="">
                            </a>
                            <a href="#modal2" data-toggle="tab" role="tab">
                                <img src="{% static 'assets/img/quick-view/s2.jpg' %}" alt="">
                            </a>
                            <a href="#modal3" data-toggle="tab" role="tab">
                                <img src="{% static 'assets/img/quick-view/s3.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="qwick-view-right">
                        <div class="qwick-view-content">
                            <h3>狗粮</h3>
                            <div class="product-price">
                                <span>￥49.00</span>
                            </div>
                            <div class="product-rating">
                                <i class="ion-star theme-color"></i>
                                <i class="ion-star theme-color"></i>
                                <i class="ion-star theme-color"></i>
                                <i class="ion-star theme-color"></i>
                                <i class="ion-star theme-color"></i>
                            </div>
                            <p>全世界最好的狗粮</p>
                            <div class="quick-view-select">
                                <div class="select-option-part">
                                    <label>Size*</label>
                                    <select class="select">
                                        <option value="">- 请选择 -</option>
                                        <option value="">XS</option>
                                        <option value="">S</option>
                                        <option value="">M</option>
                                        <option value=""> L</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                    </select>
                                </div>
                                <div class="select-option-part">
                                    <label>Color*</label>
                                    <select class="select">
                                        <option value="">- 请选择 -</option>
                                        <option value="">orange</option>
                                        <option value="">pink</option>
                                        <option value="">yellow</option>
                                    </select>
                                </div>
                            </div>
                            <div class="quickview-plus-minus">
                                <div class="cart-plus-minus">
                                    <input type="text" value="2" name="qtybutton" class="cart-plus-minus-box">
                                </div>
                                <div class="quickview-btn-cart">
                                    <a class="btn-style" href="#">添加到购物车</a>
                                </div>
                                <div class="quickview-btn-wishlist">
                                    <a class="btn-hover" href="#"><i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}